body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #333;
  color: white;
  padding: 10px 0;
  width: 100%;
}

/* Estilos para el formulario */
.Formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
  border: 200px;
}

/* Estilos para el pie de página */
.footer {
  position: fixed;
  bottom: 0;
  background-color: #333;
  color: white;
  padding: 10px ;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Cambiado de 'end' a 'flex-end' */
}



@media (max-width: 768px) {
  .App {
    padding: 20px;
  }

  .Formulario {
    width: 100%;
    padding: 10px;
  }
}

