.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pildora {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  /* Estilos para el botón "Obtener" */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  /* Estilos para el botón "x" de eliminación */
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
    font-size: 0.8rem;
    padding: 2px 6px;
    margin-left: 4px;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  